<h1><%= @question.title %></h1>
<p><%= markdown(@question.description) %></p>

<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to "Delete question", @question, method: :delete, data: { confirm: 'Are you sure?' } %>

<h1>Answer this question:</h1>

<% if current_user %>
  <%= form_for [@question, @answer] do |f| %>
    <%= f.label :description, "Answer" %>
    <%= f.text_field :description %>

    <%= f.submit %>
  <% end %>
<% else %>
  <p>Please sign in.</p>
<% end %>

<h2>Previous Answers</h2>
<ul>
  <% @answers.each do |answer| %>
    <li><%= markdown(answer.description) %></li>
  <% end %>
</ul>
