<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet"                    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="top-bar">
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>

    <% if notice.is_a?(Array) %>
      <% notice.each do |this_notice| %>
          <p class="notice"><%= this_notice %></p>
      <% end %>
    <% elsif notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <% alert.each do |this_alert| %>
          <p class="alert"><%= this_alert %></p>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
